####################################
# NODE / FRONTEND (ALL FRONTENDS)
####################################
**/node_modules/
**/dist/
**/build/
**/.vite/
**/.next/
**/out/

####################################
# ENV & SECRETS
####################################
.env
*.env
*.key
*.pem

####################################
# FIREBASE / GOOGLE CLOUD
####################################
**/serviceAccountKey.json
**/firebase-adminsdk*.json
**/google-services.json

####################################
# LOGS
####################################
**/*.log
logs/

####################################
# OS / IDE
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/
